---
permalink: "/tool"
layout: tool
---

<div class="selector flex">
    <div>
        <h4>Prepared for</h4>
        <input id="preparedFor"  spellcheck="false" placeholder="Enter recipient">
    </div>
    <div id="linkContainer" class="empty">
        <h4>Custom Link<span id="copied"> Click to Copy</span></h4>
        <input id="customLink"  spellcheck="false" placeholder="Select projects below to build your collection.">
    </div>
</div>
<div class="project-list">
    <ul>
        {% assign topics_by_letter = site.projects | group_by_exp: "topic", "topic.title | slice: 0, 1" %}
        {% for letter in topics_by_letter %}
            <div>
                {% if letter.name == "0" or letter.name == "1" or letter.name == "2" or letter.name == "3" or letter.name == "4" or letter.name == "5" or letter.name == "6" or letter.name == "7" or letter.name == "8" or letter.name == "9" %}
                <h5>#</h5>
                {% else %}
                <h5>{{ letter.name }}</h5>
                {% endif %}
                {% for item in letter.items %}
                    <li>
                        <span data-slug="{{item.slug}}">{{item.title}}</span>
                        <a href="{{item.url}}" target="_blank">Preview</a>
                    </li>
                {% endfor%}
            </div>
        {% endfor %}
    </ul>
</div>