        <div id="footer" class="flex">
            <div>
                <h2>
                    Kansas City
                    <br><span id="timeKC"></span>
                </h2>
                <p>
                    {{site.addresses[0].address}}
                    <br>Kansas City, Missouri
                    <br><br>
                    <a href="tel:{{ site.addresses[0].phone_number }}">{{ site.addresses[0].phone_number }}</a>
                </p>
            </div>
            <div>
                <h2>
                    Portland
                    <br><span id="timePL"></span>
                </h2>
                <p>
                    {{site.addresses[1].address}}
                    <br>Portland, Oregon
                    <br><br>
                    <a href="tel:{{ site.addresses[1].phone_number }}">{{ site.addresses[1].phone_number }}</a>
                </p>
            </div>
        </div>

        <script src="/assets/js/script.js" async defer></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>