        <div id="footer" class="flex">
            <div>
                <h2>
                    Kansas City
                    <br><span id="timeKC">0:00 am</span>
                </h2>
                <p>
                    510 Avenida Cesar E. Chavez<br>
                    Kansas City, Missouri<br>
                    <br>
                    816.474.3838
                </p>
            </div>
            <div>
                <h2>
                    Portland
                    <br><span id="timePL">0:00 am</span>
                </h2>
                <p>
                    1714 NW Overton, 2A<br>
                    Portland, Oregon<br>
                    <br>
                    816.474.3838
                </p>
            </div>
        </div>

        <script src="{{site.url}}/assets/js/script.js" async defer></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>