<div>
    <h2>
        <br class="hide-on-mobile">
        We are an integrated 
        {% if page.filter == "architecture" %}<a class="active" href="/architecture">{% else %} <a href="/architecture">{% endif %}architecture</a> 
        & {% if page.filter == "education" %}<a class="active" href="/education">{% else %} <a href="/education">{% endif %}education</a>
        & {% if page.filter == "urban-design" %}<a class="active" href="/urban-design">{% else %} <a href="/urban-design">{% endif %}urban design</a>
        & {% if page.filter == "fabrication" %}<a class="active" href="/fabrication">{% else %} <a href="/fabrication">{% endif %}fabrication</a>
        & {% if page.filter == "curatorial" %}<a class="active" href="/curatorial">{% else %} <a href="/curatorial">{% endif %}curatorial</a>
        practice.
    </h2>
</div>
<div>
    <h2>
        <br>
        We chase big ideas<br> in the middle<br> of everywhere.
        <br><br>
        <a href="/about">About</a> & <a href="/contact">Contact</a>
    </h2>
</div>