<div>
    <h2>
        <br>
        We are an integrated 
        {% if page.filter == "architecture" %}<a class="active" href="/architecture">{% else %} <a href="/architecture">{% endif %}architecture</a> 
        & {% if page.filter == "curatorial" %}<a class="active" href="/curatorial">{% else %} <a href="/curatorial">{% endif %}curatorial</a>
        & {% if page.filter == "urban-design" %}<a class="active" href="/urban-design">{% else %} <a href="/urban-design">{% endif %}urban design</a>
        & <a href="/education">education</a> 
        & <a href="/fabrication">fabrication</a> 
        practice.
    </h2>
</div>
<div>
    <h2>
        <br>
        We chase big ideas<br> in the middle<br> of everywhere.
        <br><br>
        <a href="/about">About</a> & <a href="/contact">Contact</a>
    </h2>
</div>