<div id="nav">
    <div class="nav-dropdown">
        <div class="phantom-nav flex">
            <a href="/">El<span>Dorado</span></a>
            <a href="/">Projects & Info</a>
        </div>
        <div class="flex">
            {% include nav-full.html %}
        </div>
    </div>
    <div class="nav-main flex">
        <a href="/" id="logo">El<span>Dorado</span></a>
        <a href="/" class="toggle-nav" id="toggle-nav">Projects & Info</a>
    </div>
    <div class="phantom-nav flex">
        <a href="/">El<span>Dorado</span></a>
        <a href="/">Projects & Info</a>
    </div>
    <div class="nav-full flex">
        {% include nav-full.html %}
    </div>
    
</div>