---
---

// @font-face { font-family: 'Rubik'; font-style: normal; font-weight: 300; src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2'); }

@font-face {
  font-family: "Neubau Grotesk";
  src: url("../fonts/NeubauGrotesk-Nor.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Neubau Grotesk";
  src: url("../fonts/NeubauGrotesk-Sch.woff2") format("woff2");
  font-weight: bold;
}

:root{
    --brand-color: #0afc0a;
    --side-margin: 100px;
    --gutter: 30px;
}

html{
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-size:25px;
}

body{
    background-color:black;
    color:white;
    font-family: "Neubau Grotesk", sans-serif;
    font-size: 1rem;
    letter-spacing: -0.33px;
    line-height: 1.15;
    margin:0px;
}
ul{
    list-style: none;
    padding:0;
}
p{
    margin:0px;
}
h3{
    font-size:1rem;
    letter-spacing: -0.33px;
    line-height:  1.15;
    // margin-bottom: 8px;
    // margin-top: 21px;
    margin:0px;
    // margin-top:20px;
}
h4{
    text-transform: uppercase;
}
p.sm, .information li, .information p{
    font-size:0.7rem;
    line-height:0.88rem;
    margin:0px;
    // margin-bottom:20px;
}
.information ul{
    margin-top:0px;
}

.nav-main, .phantom-nav{
    // font-size: 89px;
    font-size: calc(6.16vw - var(--side-margin)/11 - var(--gutter)/11);
    color: var(--brand-color);
    letter-spacing: -0.99px;
    // line-height: 88px;
    line-height: 0.7;
    font-weight:bold;
    text-transform: uppercase;
    padding-top: calc(var(--gutter));
    // a{
    //     position:relative;
    //     left: -5px;
    // }
    span{
        color:white;
    }
}

.nav-dropdown{
    background-color:black;
    position: fixed;
    z-index: 1;
    top:-100vh;
    left: var(--side-margin);
    width: calc(100% - var(--side-margin)*2);
    padding-bottom: calc(var(--gutter)*2);
    padding-top: var(--gutter);
    border-bottom:10px solid white;
    transition: top 400ms;
}

#nav.open .nav-dropdown{
    top:0px;
}

#logo:hover{
    color: white;
    span{color:var(--brand-color)}
    .cls-2{fill:white}
    .cls-3{fill:var(--brand-color)}
}
#toggle-nav:hover{
    .cls-2{fill:white}
}

a{ color: var(--brand-color);}
a:hover{ color: white;}

h1, h2{
    font-size: 1.85rem;
    font-weight:bold;
    letter-spacing: -0.91px;
    line-height: 1;
    text-transform:uppercase;
}
h4{
    font-size:0.7rem;
}

#nav{
    margin: 0px var(--side-margin);
    padding-top:var(--gutter);
    padding-bottom: calc(var(--gutter)*2);
    a{  text-decoration:none;}
    a.active{
        color:white;
    }
    h2{
        max-width: 630px;
        margin:0px;
    }
    .toggle-nav{visibility:hidden}
}

.main{
    margin:0px var(--side-margin);
}

.anchor{
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
    margin-top: calc(100vh - 40px);
}

.flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
        width: calc(50% - var(--gutter)/2);
    }
}

.flex.col-4 > *{
    width: calc(25% - var(--gutter)/2);
}


.thumbnails{
    a{
        // height:500px;
        margin-bottom:var(--gutter);
        padding-top:26%;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        color:white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    div{
        padding:calc(var(--gutter)/2);
        span{
            max-width:500px;
            display:inline-block;
        }
    }
    a:hover div{
        background-color:var(--brand-color);
        color:black;
    }
}

#footer{
    padding:40px var(--side-margin) var(--side-margin);
    background-color:black;
    h2{color:var(--brand-color)}
    a{
        color:white;
        text-decoration:none;
    }
}

.colon {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

// .layout-projects, .layout-project, .layout-home{
    .nav-main{
        position: fixed;
        top:0px;
        z-index: 1;
        // left: var(--side-margin);
        width: calc(100% - var(--side-margin)*2);
    }
    .phantom-nav{
        visibility: hidden;
        padding-top:0px;
    }
    #nav.scroll{
        .toggle-nav{visibility:visible}
    }
// }

.layout-project, .layout-default, .layout-team, .layout-about, .layout-tool, .layout-collection{
    .main{
        background-color:black;
        margin:0px;
        padding:0px var(--side-margin);
    }
    .images{
        background-color:black;
        padding:0px var(--gutter);
    }
    .nav-full{ display:none; }
    .toggle-nav{visibility:visible !important}
}

.hero{
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:-1;
    top:0px;
    object-fit: cover;
    // background-repeat:no-repeat;
    // background-size: cover;
}

.header{
    display: flex;
    height: 100vh;
    width: calc(100% - var(--side-margin)*2);
    top: 0vh;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0px var(--side-margin);
    color: white;
    text-decoration: none;
}

.layout-about{
    #description.full .fullDescription{
        column-count: 2;
        display:block;
    }
}

#description{
    // padding-top:117px;
    padding:calc(var(--gutter)*2) 0px;
    a{text-decoration:none}
    .fullDescription, .less{
        display:none;
    }
    h1{
        margin-top:0px;
        font-weight:normal;
        text-transform: none;;
    }
}
#description.full {
    .fullDescription, .less{
        display:inline;
    }
    p:not(.sm), #viewBtn{
        margin-bottom: 25px;
    }
    .more{
        display:none;
    }
}

img.full{
    width:100%;
    height:auto;
}

.slideshow{
    // background-color:red;
    width:100%;
    height:calc(250px + 35vw);
    position:relative;
    a{text-decoration:none;color:white;}
    .slideshow-img{
        height:calc(100% - var(--gutter) * 2);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        padding: var(--gutter);
    }
}


.slideshow a { 
    opacity:0; 
    display: block;
    animation-name: fade; 
    // animation-duration: 9s; 
    animation-iteration-count: infinite; 
    animation-fill-mode: both;
    position:absolute; 
    // width:calc(100% - var(--gutter));
    width:100%;
    height:100%;
    left:0; 
    right:0; 
}

// .slideshow a:nth-child(1) { animation-delay: 0s; }
// .slideshow a:nth-child(2) { animation-delay: 3s; }
// .slideshow a:nth-child(3) { animation-delay: 6s; }

// @keyframes fade {
//   0%   { opacity: 0; pointer-events:none; z-index:-1;}
//   1.111%   { opacity: 1; pointer-events: inherit; z-index:0;}
//   6.666%  { opacity: 1; pointer-events: inherit; z-index:0;}
//   7.777%  { opacity: 0; pointer-events:none; z-index:-1;}
//   100% { opacity: 0; pointer-events:none; z-index:-1;}
// }

.layout-project{
    .phantom-nav{
        // display:none;
    }
    #nav{
        padding: 0px var(--side-margin);
        margin:0px;
    }
    .nav-dropdown{
        left: 0px;
        padding-left: var(--side-margin);
        padding-right: var(--side-margin);
    }
    // .nav-dropdown{ z-index:2; }
    // .nav-main{ z-index:3; }
    // .nav-dropdown:after{
    //     content: '';
    //     display:block;
    //     width:100vw;
    //     position:absolute;
    //     background-color:black;
    //     height:calc(100% + 10px);
    //     top:0px;
    //     left:calc(var(--side-margin) * -1);
    //     z-index:-1;
    // }
    #viewBtn{
        white-space: nowrap;
    }

    .image{
        width:100%;
        height:100vh;
        // background-color:yellow;
        margin-top: var(--gutter);
        img{
            height:100%;
            width:100%;
            object-fit:contain;
        }
    }
    .image:first-child{
        margin-top:0px;
    }

    .image.white{
        // background-color:white;
        padding:0px var(--side-margin);
        width:calc(100% - var(--side-margin)*2);
        max-width:1200px;
        margin:auto;
    }
    h2{
        margin-top:0px;
    }
    .images, .thumbnails{
        padding-bottom:var(--side-margin);
    }
}

.section{
    margin-bottom: calc(var(--side-margin));
}

.section.team{
    margin:70px 0px;
}

.principals, .team{
    a{
        text-decoration:none;
    }
    a:hover{
        .image{
            opacity:0.8;
        }
        h4{
            color:white;
        }
    }
    .image{
        width: 100%;
        padding-top: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom:15px;
        opacity:1;
        transition:opacity 400ms;
    }
    h4, h5{
        color: var(--brand-color);
        font-weight:400;
        font-size: inherit;
        line-height:inherit;
        letter-spacing: inherit;
        margin:0px;
        text-transform: none;
    }
    h5{
        color:white;
    }
    h2{
        margin-bottom:70px;
    }
}
.team .col-4 a{
    margin-bottom:var(--gutter);
    // max-width:250px;
    margin-right:var(--gutter);
    // background:red;
    display:inline-block;
    width: calc(25% - var(--gutter))
}
.team .flex {
  justify-content: flex-start;
  flex:none;
  width: calc(100% + var(--gutter));
}

.news{
    ul{column-count: 2;}
    a{text-decoration:none}
    p.sm{color:white}
    p{margin:5px 0px;}
    li{margin-bottom:var(--gutter)}
}

#email{
    text-decoration: none;
    margin-bottom:100px;
    padding-top:100px;
    display:inline-block;
    h2, h4{margin:0px;}
    h4{color:white;}
}
#myInput{
    position:fixed;
    left:-100vw;
    top:-100vh;
}

.contact > #footer{
    margin-top:0px;
}

.layout-team p{
    margin-bottom:20px;
}

.layout-tool{
    padding-bottom:500px;
    .nav-main{
        position: absolute;;
    }
}

.selector{
    position:sticky;
    top:0px;
    background:black;
    z-index:3;
    h4{
        margin-bottom:0px;
        span{
            color:var(--brand-color);
            display:inline-block;
            margin-left:16px;
            opacity:1;
            transition:opacity 500ms;
        }
    }
    input {
        border:0px;
        border-bottom: 5px solid white;
        width:100%;
        background:transparent;
        color:white;
        padding:5px 0px;
        font-size: 1rem;
        font-family: "Neubau Grotesk", sans-serif;
        transition: border 500ms;
    }
    input::placeholder{
        color:var(--brand-color);
    }
    input:focus{
        border-bottom: 5px solid var(--brand-color);
        outline:none;
    }
}

.selector:after {
    content: '';
    position: absolute;
    width: 1000px;
    background: black;
    height: 100%;
    z-index: -1;
    left: calc(var(--side-margin)* -1);
}

#customLink{
    cursor:pointer;
}
#customLink::placeholder{
    color:white;
}

#linkContainer:not(.empty) #customLink:hover, #linkContainer.copied #customLink{
    color: var(--brand-color);
    border-bottom: 5px solid var(--brand-color);
}

#linkContainer.empty{
    h4 span{
        opacity:0;
    }
}

.project-list{
    h5{
        margin-bottom:0px;
    }
    li{
        color: var(--brand-color);
        font-weight:bold;
        text-transform:uppercase;
        display:flex;
        justify-content: space-between;
        cursor:pointer;
        a{
            font-size:0.7rem;
            text-decoration: none;
        }
        // a:hover{
        //     color:white;
        // }
    }
    li:hover:before, li.selected:before{
        content:url('../img/icons/check-white.svg');
        display:block;
        position:absolute;
        left:var(--side-margin);
        transform:translateX(-150%);
        width: 23px;
    }
    li.selected{
        color:var(--brand-color);
    }
    li.selected:before{
        content:url('../img/icons/check-green.svg');
    }
    li.selected:not(.just-clicked):hover:before{
        content:url('../img/icons/x-white.svg');
    }
    li:not(.just-clicked):hover{
        color:white;
    }
}

.hamburger{
    display:none;
}

@media screen and (min-width:1850px){
    html{
        font-size:30px;
    }
}

@media screen and (max-width:1200px){
    :root{
        --side-margin:30px;
        --gutter: 15px;
    }
    html{
        font-size:23px;
    }
    h1, h2{
        font-size:1.5rem;
    }
    .project-list{
        li:hover span, li.selected span{
            position:relative;
            left:30px;
        }
        li:hover:before, li.selected:before{
            left:calc(var(--side-margin)*2);
        }
    }
}

@media screen and (max-width:1080px){
    .team .col-4 a{
        width: calc(50% - var(--gutter))
    }
}

@media screen and (max-width:769px){
    :root{
        --side-margin:17px;
        --gutter: 14px;
    }
    html{
        font-size:21px;
    }
    h1, h2, .nav-main, .phantom-nav{
        font-size:1.2rem;
    }
    .flex > *{
        width:100%;
    }
    .flex-mobile > *, .flex.col-4 > * {
        width: calc(50% - var(--gutter)/2);
    }
    .hide-on-mobile{
        display:none;
    }
    .slideshow{
        height: calc(100px + 25vw);
    }
    .nav-main a, .phantom-nav a{
        left:-2px;
    }
    .nav-main, .phantom-nav{
        background: black;
        padding-bottom: calc(var(--gutter));
        line-height:1;
    }
    #logoMobile{
        height:35px;
        width:237px;
    }
    .hamburger{
        width: 38px;
        height: 35px;
        
    }
    .scroll .hamburger, .layout-project .hamburger{
        display:inline-block;
    }
    .logo{
        font-size: 50px;
        letter-spacing: -0.98px;
        line-height: 0.8;
        width: 50%;
        svg{
            height: 35px;
            // width: 100%;
        }
    }
    #footer > div{
        margin-bottom:20px;
    }
    .thumbnails a{
        padding-top: 50%;
    }
    .layout-project .images{
        padding: 0px var(--side-margin);
        padding-bottom:100px;
    }
    .layout-project #description div:first-child{
        margin-bottom:15px;
    }
    .hero{
        top:68px;
        // height:calc(100vh - 68px);
    }
    // .layout-project .phantom-nav{
    //     display:block;
    // }
    .header{
        // height:calc(100vh - 68px);
    }
    .layout-project .image, .layout-project .image.white{
        height: auto;
        width:100%;
        padding:0;
        margin-top: var(--gutter);
    }
    .news ul{
        column-count: 1;;
    }
    .news li {
        margin-bottom: calc(var(--gutter)*2);
    }
    .layout-about #description.full .fullDescription{
        column-count: 1;
    }
    .principals h2{
        margin-bottom:30px;
        margin-top:70px;
    }
}