{% include header.html %}
{% include nav.html %}

<div class="main">

<div class="flex" id="description">
    <div>
        <h2>
        We chase big ideas<br> in the middle<br> of everywhere.
        </h2>
        <p>{{page.short-description}}</span>
        <a href="#" id="viewBtn">Read <span class="more">More</span><span class="less">Less</span></a></a></p>
    </div>
</div>
<div class="section">
    <img class="full" src="assets/img/office.png">
</div>
<div class="section principals">
    <h2>Principals</h2>
    <div class="flex flex-mobile">
        {% assign principals = site.team | where: "principal", "true" %}
        {% for principal in principals %}
        <a href="{{principal.url}}">
            <!-- <img class="full" src="{{principal.image}}"> -->
            <div class="image" style="background-image:url({{principal.image}})"></div>
            <h4>{{principal.title}}</h4>
            <h5>{{principal.role}}</h5>
        </a>
        {% endfor %}
    </div>
</div>
<div class="section team">
    <h2>Our team works<br>purposefully across<br>scales and contexts.</h2>
    <div class="flex col-4 flex-mobile">
        {% assign team = site.team | where: "principal", "false" %}
        {% for teammember in team %}
        <a href="{{teammember.url}}">
            <h4>{{ teammember.name }}</h4>
            <h5>{{ teammember.role }}</h5>
        </a>
        {% endfor %}
    </div>
</div>
<div class="section news">
    <h2>News</h2>
    <ul>
        {% for news_item in site.data.news %}
        <li><a href="{{news_item.link}}" target="_blank">
                <p>{{news_item.title}}</p>
                <p class="sm">{{news_item.publication}}<br>{{ news_item.date | date_to_string: "ordinal", "US" }}</p>
        </a></li>
        {% endfor %}
    </ul>
</div>

</div>

{% include footer.html %}
<script src="{{site.url}}/assets/js/nav.js" async defer></script>
