{% include header.html %}
{% include nav.html %}
<div class="main">
    <div class="slideshow" id="slideshow">
        {% for slideshow_item in page.slideshow %}
        {% assign related_project = site.projects | where: "path", slideshow_item | first %}

<!-- (fade-in + visible) × images = duration -->
<!-- (fade-in + visible) × (ordinal position − 1) = delay
3.5 x  -->
            {% assign fade_time = 0.7 %}
            {% assign visible_time = 2.8 %}
            {% assign total_time = fade_time | plus: visible_time %}
            {% assign duration = page.slideshow | size | times: total_time %}
            {% assign start_fade_in = 100 | divided_by: duration | times: fade_time %}
            {% assign start_fade_out = 100 | divided_by: duration | times: visible_time | plus: start_fade_in %}
            {% assign end_fade_out = 100 | divided_by: duration | times: fade_time | plus: start_fade_out %}
            <a href="{{related_project.url}}" style="animation-duration: {{ duration }}s; animation-delay: {{ forloop.index | minus: 1 | times: total_time }}s">
                <div class="slideshow-img" style="background-image:url({{ site.cloudinary_url }}c_scale,w_1400{{ related_project.hero_image }}">
                <!-- 1400 760 -->
                    {{related_project.title}}
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<script src="/assets/js/nav.js" async defer></script>

<style type="text/css">
@keyframes fade {
  0%   { opacity: 0; pointer-events:none; z-index:-1;}
  {{start_fade_in}}%   { opacity: 1; pointer-events: inherit; z-index:0;}
  {{start_fade_out}}%  { opacity: 1; pointer-events: inherit; z-index:0;}
  {{end_fade_out}}%  { opacity: 0; pointer-events:none; z-index:-1;}
  100% { opacity: 0; pointer-events:none; z-index:-1;}
}
</style>

<!-- <script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  window.addEventListener("DOMContentLoaded", function(e) {

    var stage = document.getElementById("slideshow");
    var fadeComplete = function(e) { stage.appendChild(arr[0]); };
    var arr = stage.getElementsByTagName("a");
    for(var i=0; i < arr.length; i++) {
      arr[i].addEventListener("animationend", fadeComplete, false);
    }

  }, false);

</script> -->
<!-- <style type="text/css">

  #slideshow {
    margin: 1em auto;
    width: 382px;
    height: 292px;
  }
  #slideshow a {
    position: absolute;
  }
  #slideshow a img {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
  }
  #slideshow a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #slideshow a:nth-of-type(2) {
    z-index: 10;
  }
  #slideshow a:nth-of-type(n+3) {
    display: none;
  }
  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

</style> -->



{% include footer.html %}
