{% include header.html %}
{% include nav.html %}

<div class="hero" style="background-image: url('http://images.ctfassets.net/7ceafwpo4r5g/35O4iOqcbAjTkZSdrQfztx/8f5b6733016fedbeb30d51a5fb09201f/3435_1.jpg?w=800&fm=jpg&fl=progressive')"></div>
<a href="#main" class="header">
    <h1>University of Arkansas —<br>Sculpture Facility</h1>
</a>
<div id="main" class="main">
    <div class="flex" id="description">
        <div>
            <p>The Crossroads Hotel is a historic renovation of a former Pabst brewery warehouse and early 20th century political boss Tom Pendergast’s office into a 131-room boutique hotel. <span class="fullDescription">In order to allow a 100’ square storage floor plate to serve a new hospitality function, a new four-story atrium was carved out of the center of the building, revealing layers of additive architectural history while bringing soft northern light deep within the building. In a nod to the maker origins of the Crossroads Arts District, the architect designed and fabricated custom steel doors in each guest room and is also curating an artist engagement platform which includes an artist-in-residency hosted by a 2,000 square foot public gallery and studio space. The program draws from and will give life back to its surrounding arts district through exhibitions, artist commissions, performances, and unexpected artist-driven experiences that will enliven  the hotel. </span>
            <a href="#" id="viewBtn">View <span class="more">More</span><span class="less">Less</span></a></a></p>
        </div>
        <div class="fullDescription">
            <h3>2018</h3>
            <p class="sm">
            Architect, Curator, Fabricator<br>
            Kansas City, MO<br>
            120,000 SF<br>
            </p>
            <h3>Client</h3>
            <p class="sm">
            Aparium Hotel Group    
            </p>
            <h3>Eldo Team</h3>
            <p class="sm">Principal: David Dowell, AIA<br>
            Project Manager: Steve Salzer, AIA<br>
            Project Architect: Mark Horne, AIA; Chris Burk; Jonathan Tramba<br>
            Designer: John Renner; Ruoxi Yang; Lauren Harness; Alex Priest<br>
            Curator: Hesse McGraw</p>
            <h3>Collaborators</h3>
            <p class="sm">
            Contractor: JE Dunn Construction<br>
            Interior Designer: Simeone Deary Design Group<br>
            Structural Engineer: Bob D Campbell & Associates<br>
            Civil Engineer: SK Design Group<br>
            Mechanical and Electrical Engineer: Lankford Fendler + Associates<br>
            Plumbing Engineer: Antella, Inc<br>
            Acoustic Consultant: Acoustic Design Kubicki<br>
            Code Consultant: Jeff Boyle<br>
            Lighting Design: MRD<br>
            Food Service Design: Next Step Design<br>
            Historical Preservation Consultant: Rosin Preservation<br>
            AV/IT and Security Consultant: Sorbis<br>
            </p>
            <h3>Awards</h3>
            <p class="sm">
            2019 AIA Kansas City Design Excellence Awards - Honor Award<br>
            2019 The Chicago Athenaeum - American Architecture Award - Honor Award<br>
            2019 Missouri Preservation Honor Awards - Preserve Missouri Award<br>
            2019 Kansas City Business Journal - Capstone Award, Adaptive Reuse<br>
            2019 Historic Kansas City Preservation Award - Excellence Award for Contemporary Design in a Historic Context<br>
            <h3>Press</h3>
            <p class="sm">
            Kansas City Business Journal, Rob Roberts, "Chicago-based hotel group will transform historic Crossroads buildings", 2015<br>
            The Kansas City Star, Joyce Smith, "Crossroads boutique hotel is planned for the historic Pabst and Pendergast buildings", 2015<br>
            Conde Nast Traveler, Erin Florio, "In Kansas City, You'll Soon Be Able to Sleep in a Former Brewery", 2018
            </p>
            <p class="sm">Photography by Mike Sinclair</p>
        </div>
    </div>
</div>
<div class="images">
    <div data-aos="fade-up" class="image full"><img src="assets/img/project1.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project2.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project3.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project4.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project5.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project6.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project7.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project8.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project9.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project10.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project11.png"></div>
</div>
<div class="main">
    <h2>Related</h2>
    <div class="thumbnails flex">
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/11HNTFJrQVqWtxnddsLZDo/4e7be4ff99de4225a70d430c907df089/300Kansas-02.jpg?fm=jpg&fl=progressive&w=2440')">
            <div><span>Volland General Store</span></div>
        </a>
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/35O4iOqcbAjTkZSdrQfztx/8f5b6733016fedbeb30d51a5fb09201f/3435_1.jpg?w=800&fm=jpg&fl=progressive')">
            <div><span>Shelton Marshall Residence</span></div>
        </a>
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/5MMfpZ29cKZrr7JgNyEWoj/98b093d37cfaf5b5f3c486b910954237/diagrams.jpg?w=800&fm=jpg&fl=progressive')">
            <div><span>Kansas State University Architecture, Planning & Urban Design–Regnier Hall Fab Lab Expansion</span></div>
        </a>
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/11HNTFJrQVqWtxnddsLZDo/4e7be4ff99de4225a70d430c907df089/300Kansas-02.jpg?fm=jpg&fl=progressive&w=2440')">
            <div><span>Volland General Store</span></div>
        </a>
    </div>
</div>
{% include footer.html %}
<script src="{{site.url}}/assets/js/nav.js" async defer></script>
<script src="{{site.url}}/assets/js/project.js" async defer></script>