{% include header.html %}
{% include nav.html %}

<div class="hero" style="background-image: url('{{page.hero_image}}')"></div>
<a href="#view" class="header">
    <h1>{{page.title}}</h1>
</a>
<a class="anchor" id="view"></a>
<div id="main" class="main">
    <div class="flex" id="description">
        <div>
            <h1>{{page.short-description}}</h1>
            <a href="#" id="viewBtn">View <span class="more">More</span><span class="less">Less</span></a>
            <div class="fullDescription">
                <br>
                {{page.description}}
            </div>
        </div>
        <div class="fullDescription information">
            {{ content }}
        </div>
    </div>
</div>
<div class="images">
    <div data-aos="fade-up" class="image full"><img src="assets/img/project1.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project2.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project3.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project4.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project5.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project6.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project7.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project8.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project9.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project10.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project11.png"></div>
</div>
<div class="main">
    <h2>Related</h2>
    <div class="thumbnails flex">
        {% if page.architecture %}
        {% assign selection = site.projects | where: "architecture", "true" | sort:"position" %}
        {% else if page.curatorial %}
        {% assign selection = site.projects | where: "curatorial", "true" | sort:"position" %}
        {% else if page.education %}
        {% assign selection = site.projects | where: "education", "true" | sort:"position" %}
        {% endif %}
        {% for project in selection limit:5 %}
            {% if project.title != page.title %}
            <a href="{{project.url}}" style="background-image:url('..{{project.hero_image}}')">
                <div><span>{{project.title}}</span></div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% include footer.html %}
<script src="{{site.url}}/assets/js/nav.js" async defer></script>
<script src="{{site.url}}/assets/js/dropdown.js" async defer></script>