{% include header.html %}
{% include nav.html %}

<div class="hero" style="background-image: url('http://images.ctfassets.net/7ceafwpo4r5g/35O4iOqcbAjTkZSdrQfztx/8f5b6733016fedbeb30d51a5fb09201f/3435_1.jpg?w=800&fm=jpg&fl=progressive')"></div>
<a href="#main" class="header">
    <h1>{{page.title}}</h1>
</a>
<div id="main" class="main">
    <div class="flex" id="description">
        <div>
            <h1>{{page.short-description}}</h1>
            <a href="#" id="viewBtn">View <span class="more">More</span><span class="less">Less</span></a>
            <div class="fullDescription">
                {{page.description}}
            </div>
        </div>
        <div class="fullDescription information">
            {{ content }}
        </div>
    </div>
</div>
<div class="images">
    <div data-aos="fade-up" class="image full"><img src="assets/img/project1.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project2.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project3.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project4.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project5.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project6.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project7.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project8.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project9.png"></div>
    <div data-aos="fade-up" class="image white"><img src="assets/img/project10.png"></div>
    <div data-aos="fade-up" class="image full"><img src="assets/img/project11.png"></div>
</div>
<div class="main">
    <h2>Related</h2>
    <div class="thumbnails flex">
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/11HNTFJrQVqWtxnddsLZDo/4e7be4ff99de4225a70d430c907df089/300Kansas-02.jpg?fm=jpg&fl=progressive&w=2440')">
            <div><span>Volland General Store</span></div>
        </a>
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/35O4iOqcbAjTkZSdrQfztx/8f5b6733016fedbeb30d51a5fb09201f/3435_1.jpg?w=800&fm=jpg&fl=progressive')">
            <div><span>Shelton Marshall Residence</span></div>
        </a>
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/5MMfpZ29cKZrr7JgNyEWoj/98b093d37cfaf5b5f3c486b910954237/diagrams.jpg?w=800&fm=jpg&fl=progressive')">
            <div><span>Kansas State University Architecture, Planning & Urban Design–Regnier Hall Fab Lab Expansion</span></div>
        </a>
        <a href="/university-of-arkansas" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/11HNTFJrQVqWtxnddsLZDo/4e7be4ff99de4225a70d430c907df089/300Kansas-02.jpg?fm=jpg&fl=progressive&w=2440')">
            <div><span>Volland General Store</span></div>
        </a>
    </div>
</div>
{% include footer.html %}
<script src="{{site.url}}/assets/js/nav.js" async defer></script>
<script src="{{site.url}}/assets/js/project.js" async defer></script>