{% include header.html %}
{% include nav.html %}
<div class="main">
    <div class="thumbnails flex">
        {% assign selection = site.projects | where: page.filter, "true" %}
        {% for project in selection %}
        <a href="{{project.url}}" style="background-image:url('http://images.ctfassets.net/7ceafwpo4r5g/11HNTFJrQVqWtxnddsLZDo/4e7be4ff99de4225a70d430c907df089/300Kansas-02.jpg?fm=jpg&fl=progressive&w=2440')">
            <div><span>{{project.title}}</span></div>
        </a>
        {% endfor %}
    </div>
</div>


{% include footer.html %}
<script src="{{site.url}}/assets/js/nav.js" async defer></script>