{% include header.html %}
{% include nav.html %}

<div class="main">
    <div class="flex" id="description">
        <div>
            <h2>
            {{page.name}}<br>
            {{page.role}}
            </h2>
            <p>{{ content }}</p>
        </div>
        <div><img src="{{page.image}}" class="full"></div>
    </div>

    {% assign length = page.related_projects | size %}
    {% if length > 0 %}
    <h2>Relevant Projects</h2>
    <div class="thumbnails flex">
            {% for list_item in page.related_projects %}
            {% assign related_project = site.projects | where: "path", list_item | first %}
                <a href="{{related_project.url}}" style="background-image:url('{{ site.cloudinary_url }}c_scale,w_700{{ related_project.hero_image }}')">
                    <div><span>{{related_project.title}}</span></div>
                </a>
            {% endfor %}
    </div>
    {% endif %}

</div>

{% include footer.html %}
<script src="/assets/js/nav.js" async defer></script>



